//bakcgrounds
$color__principal: #00bcd4;
$color__principal_shadow: rgba(0, 188, 212, .4);

$color_delete: #f44336;
$color_draft: #708184;
$background_draft: #70818478;
$color_publish: #1c9674;
$background_publish: #1c967478;
$color_archive: #0d3f48;
$background_archive: #0937408a;
