.user-search-wrapper:hover .user-search-results__placeholder {
  display: block;
}

.user-search-results__placeholder {
  display: none;
  padding: 20px;
  background: #fff;
  z-index: 100;
  -webkit-box-shadow: 0 2px 5px #ccc;
  box-shadow: 0 2px 5px #ccc;
  max-height: 450px;
  overflow-y: auto;

  span {
    font-style: italic;
    font-size: 14px;
    font-size: .875rem;
    color: #90908f;
  }


}

.user-search-input {
  position: relative;
  border: 1px solid $color__principal;

  input.lr_ajax_search {
    width: 90%;
    padding: 15px 20px;
  }
}

.lr_results_user {
  border-bottom: solid 1px $color__principal;
  padding-bottom: 10px;
  margin-bottom: 10px;

  img {
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    max-width: 70px;
  }

  .lr_results_user_nicename {
    color: $color__principal
  }

  .lr_results_user_email {
    text-transform: lowercase;
  }

  i {
    font-size: 20px;
    cursor: initial;
  }

  i.add_friendship {
    cursor: pointer;
  }

}

.my_contacts_wrapper__contact {
  margin-top: 50px;

  .card-icon {
    width: 80px !important;
    padding: 5px !important;
    background: $color__principal !important;
    box-shadow: none !important;
  }

  .stats span {
    top: 0;
  }

}

i.waiting {
  color: #ffb100;
}

i.pending {
  color: #d800ff;
}

i.accepted {
  color: #24a924;
}

i.rejected {
  color: $color_delete;
}
