.configuration-wrapper {

  .nav-link.active i {
    color: white;
  }

  input.btn {
    margin-top: 30px;
  }

  .card {
    padding: 25px 40px;

    .title {
      padding-left: 0;
    }

    .form-check.form-check-inline {
      margin-right: 0;
    }
  }
}
