body input.text, body input.title, body input[type=email], body input[type=password], body input[type=tel], body input[type=text], body select, body textarea {
  border: 0;
  padding: inherit;
}

body .form-control, body .is-focused .form-control, .bootstrap-select .btn.dropdown-toggle.select-with-transition {
  background-image: linear-gradient(0deg, $color__principal 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0)
}

.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px $color__principal_shadow;
  background-color: $color__principal;
}

body .bootstrap-select .btn.dropdown-toggle.select-with-transition {
  background-image: none;
}

span.filter-option {
  color: #aaa;
  text-transform: initial;
  font-size: .875rem;
}

.btn-group.bootstrap-select.form-control {
  margin-top: 0;
}

i {
  color: $color__principal;
  cursor: pointer;
}

tr.status-draft {
  background: $background_draft;
}

tr.status-publish {
  background: $background_publish;
}

tr.status-private {
  background: $background_archive;
}

i.fa-times, i.fa-trash {
  color: $color_delete;
}

i.fa-eye-slash {
  color: $color_draft;
}

i.fa-folder {
  color: $color_archive;
}

i.fa-eye {
  color: $color_publish;
}

.spinner-border {
  color: #a9afbb;
}
