.help_wrapper {
  .title {
    font-size: 1.7rem;
    line-height: 1.3;
    font-weight: 800;
    color: #808080;
  }
  .question {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 800;
    color: $color__principal;
    margin-top: 2em;
  }
}
